<main>
  <app-card-movie title="Волк с Уолл-Стрит" year="2013" url="https://ic.pics.livejournal.com/fintraining/11748042/508650/508650_original.jpg"></app-card-movie>
  <app-card-movie title="Поймай меня если сможешь" year="2002" url="http://img1.1tv.ru/imgsize460x345/PR20090806133713.GIF"></app-card-movie>
  <app-card-movie title="Отступники" year="2006" url="https://4.bp.blogspot.com/-wiu8DwaAvns/V6MjqSTDd_I/AAAAAAAAAm4/OYIIu65ZuQYW35SZirunaCfhFhYWoRdBgCLcB/s1600/11.jpg"></app-card-movie>
</main>
