ul{
  list-style: none;
  margin: 0;
}

li{
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
}

a{
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
