.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
}

.card img {
  max-width: 400px;
  height: 400px;
}
